MONGO_USER=mongo
MONGO_PASSWORD=admin
AUTH_SERVER=http://keycloak-server:8080/realms/manantial-realm
CUSTOMER_URL=http://customer-service:8081/v1/customers
KAFKA_HOST=kafka:9092
MONGO_CUSTOMER_HOST=mongodb://mongo:admin@mongo6:27017/customers_db?authSource=admin
DISCORD_WEBHOOK=DISCORD-WEBHOOK
DISCORD_USERNAME=USER-DISCORD
DEBUG=true
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
CLIENT_ID=spring-gateway-client
MONGO_CONSUMER_HOST=mongodb://mongo:admin@mongo6:27017/customers_consumer_db?authSource=admin
KAFKA_ADVERTISED_HOST_NAME= kafka
KAFKA_ZOOKEEPER_CONNECT= zookeeper:2181
KAFKA_BROKER_ID=1
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1